{% extends 'app/base_loged.html' %}
{% load static %} 

{% block title %}
      <title>Carrito</title>
{% endblock %}


{% block contenido %}


<div class="container-fluid p-0" style="margin-top: 50px;">
  <div class="row">
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>CARRITO</b></h4>
                            </div>
                            <div class="col align-self-center text-right text-muted">Productos</div>
                        </div>
                    </div>

                    {% for aux in listaCarrito %}
                    <table>
                        <tr>
                        <td><img class="img-fluid" style="width: 100px;" src="{{ aux.imagen.url }}"></td>
                        <td><div class="row text-muted"> {{ aux.nombre_producto }} </div></td>
                        <td style="padding-left: 150px;">$</td>
                        <td style=""> {{ aux.precio_producto }}  </td>
                    </tr>
                    </table>
                    {% endfor %}
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Resumen</b></h5>
                    </div>
                    <hr>

                    <div id="tabla">
                    </div> 


                    <a href="{% url 'successful' %}" class="btn btn-success">Comprar</a>
                </div>
            </div>
        </div>
                
               
        </div>
    </div>
</div>
</div>
<script>
    let total=0;
    let celdaPrecio=document.querySelectorAll('td + td + td + td');
    for (let i=0;i<celdaPrecio.length;i++){
        total += parseFloat(celdaPrecio[i].firstChild.data);
    }
    let nuevaFila = document.createElement('tr');
    let celdaTotal = document.createElement('td');
    let textoCeldaTotal = document.createTextNode('Precio Total: $');
    celdaTotal.appendChild(textoCeldaTotal);
    nuevaFila.appendChild(celdaTotal);

    let celdaValorTotal=document.createElement('td');
    let textoCeldaValorTotal = document.createTextNode(total);
    celdaValorTotal.appendChild(textoCeldaValorTotal);
    nuevaFila.appendChild(celdaValorTotal);

    document.getElementById('tabla').appendChild(nuevaFila);
</script>
{% endblock %} 