{% extends 'app/base_loged.html' %}
{% load static %} 

{% block title %}
      <title>Inicio</title>
{% endblock %}

{% block contenido %}
<head>
  <link href="https://fonts.googleapis.com/css?family=Fascinate|Nunito&display=swap" rel="stylesheet">
</head>


  <h1 style="text-shadow: 3px 3px 3px black; color:blanchedalmond  " >Productos Destacados</h1 >

<div class="accordion" style="text-shadow: 2px 2px 2px black; ">
  
  <div class="box a1">
    <div class="image_1">
      <div class="text">
        <h2 style="text-shadow: 2px 2px 2px black; ">Tijera de podar  UltraBlade®</h2>
        <p style="text-shadow: 2px 2px 2px black; ">La tijera de podar UltraBlade® es un diseño de acero completo que es ideal para cortar tallos y ramas ligeras.</p>
      </div>
    </div>
  </div>
  
  <div class="box a2">
    <div class="image_2">
      <div class="text">
        <h2 style="text-shadow: 2px 2px 2px black; ">CortaCerco hsa 45®</h2>
        <p style="text-shadow: 2px 2px 2px black; "> Este equipo cuenta con una doble cuchilla de afilado con diamante y protección en la punta que le garantiza mayor durabilidad de la herramienta de corte.
        </p>
      </div>
    </div>
  </div>
  <div class="box a3">
    <div class="image_3">
      <div class="text">
        <h2 style="text-shadow: 2px 2px 2px black; ">Planter Box®</h2>
        <p>son un tipo especial de decoración de modo normal vendidos por la dríada. Su funcionamiento es similar al del recipiente de barro pero con la diferencia de que no necesitan un bloque para ser colocados y que funcionan como plataformas.</p>
      </div>
    </div>
  </div>

  <div class="box a4">
    <div class="image_4">
      <div class="text">
        <h2>Plantas y Semillas</h2>
        <p>Las semillas es, a grandes rasgos, la estructura que forma una planta después de haberse reproducido y que utiliza para la propagación, liberándola al medio con la esperanza de que llegue a un hábitat donde las condiciones de luz, humedad y temperatura sean óptimas,</p>
      </div>
    </div>
  </div>
  
  <div class="box a5">
    <div class="image_5">
      <div class="text">
        <h2 style="text-shadow: 2px 2px 2px black; ">Sierra de poda plegable hoja de 25 cm Power Tooth®</h2>
        <p style="text-shadow: 2px 2px 2px black; ">El propósito de la sierra de poda plegable con tecnología Power Tooth es ayudar a derribar ramas extra gruesas</p>
      </div>
    </div>
  </div>
  
</div>


<h1 style="text-shadow: 3px 3px 3px black; color:blanchedalmond  " >Recuerda que:</h1 >

<div class="row" style="margin-left: 5%; margin-right:5%;">
  <div class="col-sm-3" style="background-color: hsl(120, 48%, 20%); text-align: center; margin-bottom: 2%; height: 400px; overflow: auto;">
    <img src="https://th.bing.com/th/id/R.46fc7f46e319fef1acdb8ead8dfb0476?rik=iZ%2f3BRsvbSRExg&riu=http%3a%2f%2f3.bp.blogspot.com%2f-UTPeoc4Uc8w%2fTzqSgZsJC7I%2fAAAAAAAAABU%2ftyq09PLPKXU%2fs1600%2ffundo_horticultura.jpg&ehk=aiQYfuEH5yBsiJi9CGVZ6UE5qPvJDPYKSNdKvmTTtXE%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="" width=90% style=" margin: 3%;">
    <p style="color: greenyellow;font-size: 18px; background-color: hsl(120, 48%, 20%); padding: 30px;">
      La horticultura es la ciencia encargada del cultivo de plantas. El término viene del latín hortus (huerto) y cultura (cultivo). 
      también es la industria de los cultivos y, específicamente, también se usa el término para el cultivo de hortalizas.
       Esta rama de la agricultura se preocupa fundamentalmente de la producción de plantas utilizadas por el hombre, para alimentación, ornamentación y también para fines medicinales.
    </p> 
  </div>
  <div class="col-sm-3" style="background-color: hsl(120, 48%, 20%); text-align: center; margin-bottom: 2%;height: 400px; overflow: auto;">
    <img src="https://th.bing.com/th/id/OIP.nGrJz0FLieGQBuzWvm__KgHaE7?pid=ImgDet&rs=1" alt="" width=95% style=" margin: 3%;">
    <p style="color: greenyellow;font-size: 18px; background-color: hsl(120, 48%, 20%); padding: 30px;">
      La floricultura es la disciplina de la horticultura orientada al cultivo de flores y plantas ornamentales en forma industrializada para uso decorativo.
      Los productores llamados floricultores, producen plantas para jardín, para su uso por jardineros, paisajistas, decoradores de interiores, venta de flores cortadas en floristerias o florerías,
      para su uso final en florero. Hay que entender a la floricultura como emprendimientos de producción masiva de plantas por diferencia con la jardinería.
    </p> 
  </div>
  <div class="col-sm-3" style="background-color: hsl(120, 48%, 20%); text-align: center; margin-bottom: 2%;height: 400px; overflow: auto;">
    <img src="https://2.bp.blogspot.com/-wEQOiU4DyqI/WMPyw0ZcZQI/AAAAAAAAAvE/GWTIRYStd4YJkZ8LFnprWbqw4hwMFc4XgCLcB/s1600/pala%2Bjardineria%2B2.jpg" alt="" width=95% style=" margin: 3%;">
    <p style="color: greenyellow;font-size: 18px; background-color: hsl(120, 48%, 20%); padding: 30px;">
      La jardinería se divide en horticultura, que es el cultivo de legumbres; la arboricultura, que es cultivo de árboles de frutos; la floricultura, que refiere al cultivo de flores y el cuidado de viveros, 
      donde se cultivan árboles y pequeños arbustos.
    </p> 
  </div>
  <div class="col-sm-3" style="background-color: hsl(120, 48%, 20%); text-align: center; margin-bottom: 2%;height: 400px; overflow: auto;">
    <img src="https://th.bing.com/th/id/R.6ed2ac99b1130a15b21d3a8db9bc6c32?rik=s5SlNNaiZF57gg&riu=http%3a%2f%2f4.bp.blogspot.com%2f-05q2rVzNAZo%2fUTEojgXQ4lI%2fAAAAAAAAFbQ%2f3OP57sYckrI%2fs1600%2fjardin%2bbotanico.jpg&ehk=vDNUiBD5Vor4r2OOhDtlBi7q%2bo86xJVLzEoeFfPhFak%3d&risl=&pid=ImgRaw&r=0" alt="" width=90% style=" margin: 3%;">
    <p style="color: greenyellow;font-size: 18px; background-color: hsl(120, 48%, 20%); padding: 30px;">
     El Jardín Botánico de Santo Domingo Es un área extensa y protegida, constituye uno de los lugares más puros y libres de contaminación de la ciudad.
      Fundado el 15 de agosto de 1976 como fuente recreativa y educativa ha recibido innumerables visitantes que han sido testigos de la magia naturaleza.
    </p> 
  </div>
</div>

{% endblock %}