{% extends 'app/base_loged.html' %}
{% load static %} 

{% block title %}
      <title>successful</title>
{% endblock %}

{% block contenido %}
<section  class="widget widget_blog_subscription">
  <form action="carrito/" method="get" accept-charset="utf-8" id="subscribe-blog">
    <p>Felicidades, Tu Pedido fue registrado exitosamente!!!</p>
    <center><img src="http://1.bp.blogspot.com/_Imqpm-MvFow/TMtVFxLtMwI/AAAAAAAAACE/Yugo6YONpN8/s1600/banana-dance.gif"></center> 
    <hr>
    <center><h6>antes cualquier duda, tu pedido esta en "seguimiento" para obtener mas informacion detallada sobre el pedido.</h6></center>
    
      <hr>
      <hr>

    <center><h4>PREPARANDO TU ORDEN</h4></center>
    <center><h6>Tu pedido se esta preparando y llegara pronto.</h6></center>


    
  <a href="/carrito" value="seguimiento de mi pedido">
</div>
</div>
{% endblock %}
